<mat-card>
  <mat-card-content>
    <form [formGroup]="ticketFormGroup">
      <mat-form-field>
        <mat-label>Numer reserwacji</mat-label>
        <input
          matInput
          formControlName="reservationIdCtrl"
        />
      </mat-form-field>
    </form>
    <mat-divider></mat-divider>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="!ticketFormGroup.valid" (click)="checkTicket()">
      Sprawdź
    </button>
  </mat-card-actions>
</mat-card>
<br>
<mat-card *ngIf="!success">
  <mat-card-content>
    Nie znaleziono
  </mat-card-content>
</mat-card>
<mat-card *ngIf="success">
  <mat-card-content>
    <div>
      Numer rezerwacji: {{ticketData?.id}}
    </div>
    <div>
      Numer rezerwacji: {{ticketData?.reservationStatus}}
    </div>
    <div>
      Imię: {{ticketData?.contactData?.firstName}}
    </div>
    <div>
      Nazwisko: {{ticketData?.contactData?.lastName}}
    </div>
    <div>
      Email: {{ticketData?.contactData?.email}}
    </div>
    <div>
      Telefon: {{ticketData?.contactData?.phoneNumber}}
    </div>
    <div>
      Data: {{ticketData?.dateTime}}
    </div>
    <div>
      Film: {{ticketData?.film}}
    </div>
    <div>
      Sala: {{ticketData?.hallName}}
    </div>
    <div>
      Liczba miejsc: {{ticketData?.numberOfSeats}}
    </div>
    <!-- TODO To nie działa -->
    <div *ngFor="let seatId of ticketData?.reservedSeatsIds">
      Miejsce: {{seatId}}
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onValidate()">
      Skasuj
    </button>
  </mat-card-actions>
</mat-card>
<br>



