.my-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

.card-image {
  flex: 0 0 25%;
  max-width: 25%;
  height: 100%; // make sure the container takes up full height of parent
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  //height: 15rem;
}

mat-card-content {

  padding: 0;
}

@media screen and (max-width: 600px) {
  mat-card-content {
    display: none;
  }

  .card-image {
    flex: 0 0 auto;
    max-width: 50%;
  }
}

.content-spacer {
  flex-grow: 1;
  flex-basis: auto;
}

.screening-container{
  margin-top: 1rem;
  align-self: flex-start;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5px;
}

.screening {
  height: 3rem !important;
  width: 6rem !important;
  line-height: normal;
  overflow: hidden;

  small{
    font-size: 8px;
  }
}

.details {
  display: flex;
  flex-wrap: wrap;
}

.detail-spacer {
  margin-left: 5px;
  margin-right: 5px;
}
