<mat-card class="my-card">
  <div class="card-image">
    <img [src]="movieData?.imageUrl" alt="Card Image" />
  </div>
  <div class="card-content">
    <mat-card-title>{{ movieData?.title }}</mat-card-title>
    <mat-card-subtitle>
      <div class="details">

        {{ movieData?.date?.getFullYear() }}
        <span class="detail-spacer"> | </span>
        {{ movieData?.age }}

        <div *ngFor="let detail of movieData?.details">
          <span class="detail-spacer"> | </span>
          {{detail}}
        </div>

      </div>
    </mat-card-subtitle>
    <mat-card-content>{{ movieData?.description }}</mat-card-content>
    <div class="content-spacer"></div>
    <div class="screening-container">

      <button *ngFor="let screening of screenings"
              mat-raised-button
              color="primary"
              disabled="{{!screening.available}}"
              class="screening"
              routerLink="booking/{{movieData?.id}}/{{screening.id}}">
        {{getTimeString(screening)}}<br>
        <small>
          2D, Napisy
        </small>
      </button>
    </div>
  </div>
</mat-card>
