.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-sidenav-container {
  flex: 1;
}

mat-sidenav {
  width: 200px;
}


// .mat-toolbar.mat-primary {
//   position: sticky;
//   top: 0;
//   z-index: 10;
// }

.menu-spacer {
  flex: 1 1 auto;
}

.active {
  filter: brightness(1);
}

a:not(.active) {
  filter: brightness(0.5);
}

mat-sidenav mat-nav-list {
  padding: 0px;
}
