.sidenav-container {
  height: calc(100% - 56px);
}

.sidenav {
  width: 200px;
}

// .sidenav .mat-toolbar {
//   background: inherit;
// }

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 10;
}

.menu-spacer {
  flex: 1 1 auto;
}

.active {
  filter: brightness(1);
}

a:not(.active) {
  filter: brightness(0.5);
}

mat-sidenav mat-nav-list {
  padding: 0px;
}
