
<mat-toolbar>
  <mat-toolbar-row class="main-menu-toolbar">
    <div class="brand-left">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span routerLink="/home">Cinema</span>
    </div>
    <div class="menu-buttons" *ngIf="(isHandset$ | async) === false">
      <a class="menu-button" routerLink="/home" routerLinkActive="active" mat-button>Strona główna</a>
      <a class="menu-button" routerLink="/movies" routerLinkActive="active" mat-button>Repertuar</a>
      <a class="menu-button" routerLink="/contact" routerLinkActive="active" mat-button>Kontakt</a>
      <a *ngIf="auth.isLoggedIn()" class="menu-button" routerLink="/ticket-validation" routerLinkActive="active" mat-button>Sprawdzanie Biletów</a>
    </div>
    <div class="menu-right">
      <!-- <app-cinema-selection></app-cinema-selection> -->
      <!-- <small class="cinema-label">
        {{selectedCinema}}
      </small> -->
      <mat-select placeholder="Wybierz kino">
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
      <!-- <button mat-raised-button color="accent" *ngIf="(selectedCinema) && (isHandset$ | async) === false" (click)="openCinemaDialog()">Zmień</button>
      <button mat-raised-button color="accent" *ngIf="(!selectedCinema) && (isHandset$ | async) === false" (click)="openCinemaDialog()">Wybierz kino</button> -->
      <button
      mat-raised-button color="accent" *ngIf="(isHandset$ | async) === false"
      (click)="auth.isLoggedIn() ? auth.logout() : router.navigate(['/login'])">
        {{auth.isLoggedIn() ? 'Logout' : 'Login'}}
      </button>

    </div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      [ngStyle]="{ 'display': (isHandset$ | async) ? 'block' : 'none' }"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'push'">
      <mat-nav-list>
        <a routerLink="/home" routerLinkActive="active" mat-list-item>Strona główna</a>
        <a routerLink="/movies" routerLinkActive="active" mat-list-item>Repertuar</a>
        <a routerLink="/contact" routerLinkActive="active" mat-list-item>Kontakt</a>
        <a *ngIf="auth.isLoggedIn()"
           class="menu-button"
           routerLink="/ticket-validation"
           routerLinkActive="active"
           mat-list-item>Sprawdzanie Biletów</a>

        <!-- <button mat-raised-button color="accent" *ngIf="(selectedCinema)" (click)="openCinemaDialog()">Zmień</button>
        <button mat-raised-button color="accent" *ngIf="(!selectedCinema)" (click)="openCinemaDialog()">Wybierz kino</button> -->
        <button mat-raised-button color="accent" style="margin-left: 1rem;" *ngIf="(!auth.isLoggedIn())" (click)="auth.login()">Login</button>
        <button mat-raised-button color="accent" style="margin-left: 1rem;" *ngIf="(auth.isLoggedIn())" (click)="auth.logout()">Logout</button>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>






<!-- <mat-toolbar color="primary" view>
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Cinema</span>
    <span class="menu-spacer"></span>
    <div fxShow="true" fxHide.lt-md>
      <a routerLink="/home" routerLinkActive="active" mat-button>Home</a>
      <a routerLink="/contact" routerLinkActive="active" mat-button>Contact</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav class="sidenav">
    <mat-nav-list>
      <a routerLink="/home" routerLinkActive="active" mat-list-item>Home</a>
      <a routerLink="/contact" routerLinkActive="active" mat-list-item>Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container> -->
