@use "@angular/material" as mat;

@import "@angular/material/theming";

@include mat.core();

$my-theme-light: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette, 400),
      accent: mat.define-palette(mat.$amber-palette, A200),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$my-theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$grey-palette, 900),
      accent: mat.define-palette(mat.$amber-palette, 700),
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

.theme-light {
  @include mat.all-component-themes($my-theme-light);
}
.theme-dark {
  @include mat.all-component-themes($my-theme-dark);
}

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
