.selected-seats {
  flex: 1 0 0;
}

.order-summary {
  min-width: 100%;
}

mat-stepper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.seats {
  display: flex;
  justify-content: center;

  .wrapper {
    overflow: auto;

    .screen {
      width: 100%;
      border-top: rgb(136, 136, 136) 3px solid;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .cinema-layout-grid {
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow: auto;

      .cinema-row {
        display: flex;

        .seat {
          min-width: 40px;
          margin-left: 2px;
          margin-right: 2px;

          aspect-ratio: 1/1;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .seat-icon {
            position: relative;
            opacity: 0.5;
          }

          &.double-left {
            margin-right: 0px;
            min-width: 42px;
            border-radius: 5px 0 0 5px;
          }

          &.double-right {
            margin-left: 0px;
            min-width: 42px;
            border-radius: 0 5px 5px 0;
          }

          &.empty-space {
            background-color: rgba(0, 0, 0, 0) !important;
            color: rgba(0, 0, 0, 0) !important;
            cursor: default;
          }

          &.free {
            background-color: rgb(136, 136, 136);
          }

          &.occupied {
            background-color: rgb(205, 17, 17);
          }
          &.selected {
            background-color: rgb(65, 213, 16);
          }
        }
      }
    }
  }
}

.ticket {
  margin-bottom: 4px;
  border: 2px solid rgb(34, 34, 34);
  border-radius: 4px;
}

.list-item-content {
  display: flex;
  align-items: center;
}

.list-item-content span {
  flex-grow: 1;
}

.step-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 4px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* .hall {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
}

.hall2 {
  max-width: 300px;
  overflow-x: scroll;
  background-color: cornflowerblue;
}

.hall3 {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
} */

/* .row {
  width: inherit;
  overflow: scroll;
  display: flex;
}

.seat {
  background-color: darkslategrey;
  text-align: center;
  margin: 2px;
  width: 2rem;
  aspect-ratio: 1/1;
} */
