<mat-card>
  <mat-card-header>
    <mat-card-title>Nazwa filmu</mat-card-title>
    <mat-card-subtitle>godzina | dzień tygodnia | data</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content></mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-stepper [linear]="true" #stepper>
    <mat-step [hasError]="!checkSeatSelection()">
      <ng-template matStepLabel>Wybór miejsc</ng-template>
      <div class="seats">
        <div class="wrapper">
          <div class="screen">Ekran</div>
          <div class="cinema-layout-grid">

            <div *ngFor="let row of seatsArray; let rowNum = index" class="cinema-row">
              <div class="center"><span>{{getRowNum(row)}}</span></div>
              <div *ngFor="let seat of row; let colNum = index">
                <div *ngIf="isEmptySpace(seat)" class="seat empty-space"></div>
                <div class="seat"
                      *ngIf="!isEmptySpace(seat)"
                      (click)="seatOnClick(seat)"
                      [ngClass]="{
                        'free': !seat.occupied,
                        'occupied': seat.occupied,
                        'selected': isSelected(seat),
                        'double-left': isLoveSeat(seat) && isLoveSeatLeft(seat),
                        'double-right': isLoveSeat(seat) && !isLoveSeatLeft(seat)
                    }">
                  <mat-icon *ngIf="isWheelchair(seat)" class="seat-icon">accessible</mat-icon>
                  <span *ngIf="!isWheelchair(seat) && isSelected(seat)">
                    {{seat.location.row}}-{{seat.location.column}}
                  </span>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="step-buttons">
        <button mat-raised-button color="accent" matStepperNext>Dalej</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Bilety</ng-template>
      Bilety:
      <mat-error *ngIf="!checkSeatSelection()">Brak wybranych miejsc!</mat-error>
      <mat-list class="selected-seats">
        <mat-list-item *ngFor="let seat of selectedSeats" class="ticket">
          <mat-icon matListItemIcon *ngIf="isLoveSeat(seat)">favorite</mat-icon>
          <mat-icon matListItemIcon *ngIf="isWheelchair(seat)">accessible</mat-icon>
          <mat-icon matListItemIcon *ngIf="isRegularSeat(seat)">receipt</mat-icon>
          <div class="list-item-content">
            <span mat-line>
              Rząd: {{seat.location.row}}, Miejsce: {{seat.location.column}}, Sekcja: {{seat.section}}
            </span>
            <button mat-icon-button (click)="deselect(seat)">
              <mat-icon>close</mat-icon>
            </button>
          </div>

        </mat-list-item>
      </mat-list>
      <br>
      <div class="step-buttons">
        <button mat-raised-button color="accent" matStepperPrevious>Wróć</button>
        <button mat-raised-button color="accent" matStepperNext [disabled]="!checkSeatSelection()">Dalej</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="emailFormGroup" errorMessage="Uzupełnij e-mail">
      <ng-template matStepLabel>Rezerwacja</ng-template>
      <form [formGroup]="emailFormGroup">
        <mat-form-field>
          <mat-label>Twój e-mail</mat-label>
          <input
            matInput
            formControlName="emailCtrl"
            placeholder="xyz@email.com"
          />
        </mat-form-field>
      </form>
      <div class="step-buttons">
        <button mat-raised-button color="accent" [disabled]="!isStepperValid()" (click)="submit()">Zarezerwuj</button>
      </div>
    </mat-step>
  </mat-stepper>
</mat-card>
<br>
