<mat-card>
  <mat-card-header>
    <mat-card-title>Nazwa filmu</mat-card-title>
    <mat-card-subtitle>godzina | dzień tygodnia | data</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content></mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-stepper [linear]="true" #stepper>
    <mat-step [hasError]="checkSeatSelection()">
      <ng-template matStepLabel>Wybór miejsc</ng-template>
      <div class="seats">
        <div class="wrapper">
          <div class="screen">Ekran</div>
          <div class="cinema-layout-grid">

            <div *ngFor="let row of seats; let rowNum = index" class="cinema-row">
              <div *ngFor="let seat of row; let colNum = index">
                <div *ngIf="isEmptySpace(seat)" class="seat empty-space"></div>
                <div class="seat"
                      *ngIf="!isEmptySpace(seat)"
                      (click)="seatOnClick(seat)"
                      [ngClass]="{
                        'free': !seat.occupied,
                        'occupied': seat.occupied,
                        'selected': isSelected(seat),
                        'double-left': isLoveSeat(seat) && isLoveSeatLeft(seat),
                        'double-right': isLoveSeat(seat) && !isLoveSeatLeft(seat)
                    }">
                  {{seat.location.row}}, {{seat.location.column}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div>
        <button mat-button matStepperNext>Dalej</button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Bilety</ng-template>
      Bilety:
      <mat-error *ngIf="checkSeatSelection()">Brak wybranych miejsc!</mat-error>
      <mat-list class="selected-seats">
        <mat-list-item *ngFor="let seat of selected" class="ticket">
          <mat-icon matListItemIcon>receipt</mat-icon>
          <div>
            Rząd: {{seat.location.row}}, Miejsce: {{seat.location.column}}
          </div>
        </mat-list-item>
      </mat-list>
      <br>
      <div>
        <button mat-button matStepperPrevious>Wróć</button>
        <button mat-button matStepperNext [disabled]="checkSeatSelection()">Dalej</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="emailFormGroup" errorMessage="Uzupełnij e-mail">
      <ng-template matStepLabel>Rezerwacja</ng-template>
      <form [formGroup]="emailFormGroup">
        <mat-form-field>
          <mat-label>Twój e-mail</mat-label>
          <input
            matInput
            formControlName="emailCtrl"
            placeholder="xyz@email.com"
          />
        </mat-form-field>
      </form>
      <div>
        <button mat-button [disabled]="!isStepperValid()" (click)="submit()">Zarezerwuj</button>
      </div>
    </mat-step>
  </mat-stepper>
</mat-card>
<br>
